<a href="https://colab.research.google.com/github/kavin43325011-svg/Tugas-Pak-Prayit-/blob/main/Pratikum01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Menghitung luas persegi panjang

In [ ]:
p = int (input ("Masukan panjang: "))
l = int (input ("Masukan lebar: "))
luas = p * l
print ("Luas persegi panjang =", luas)

Masukan panjang: 5
Masukan lebar: 5
Luas persegi panjang = 25

# Menghitung luas segitiga

In [ ]:
import math

a = float (input ("Masukan sisi a: "))
b = float (input ("Masukan sisi b: "))
C = float (input ("Masukan sisi c: "))

S = (a + b + C) / 2
luas = math.sqrt (S * (S - a) * (S - b) * (S - C))
print ("Luas segitiga =", luas)

Masukan sisi a: 5
Masukan sisi b: 5
Masukan sisi c: 5
Luas segitiga = 10.825317547305483

# Konversi Suhu Celcius ke Fahrenheit

In [ ]:
c = float (input ("masukan suhu (*C) : "))
f = (c * 9/5) + 32
print ("Hasil konversi =", f, "*F")

masukan suhu (*C) : 38
Hasil konversi = 100.4 *F

# Menghitung umur berdasarkan tahun lahir

In [ ]:
tahun_lahir = int (input ("masukan tahun lahir:"))
tahun_sekarang = 2025
umur = tahun_sekarang - tahun_lahir
print ("umur anda =", umur, "tahun")

masukan tahun lahir:2077
umur anda = -52 tahun

# menghitung luas lingkaran

In [ ]:
import math
r = float (input ("Masukan jari-jari lingkaran: "))
luas = math.pi * r * r
print ("Luas lingkaran =", luas)

Masukan jari-jari lingkaran: 7
Luas lingkaran = 153.93804002589985

#Menjumlah tiga bilangan

In [ ]:
a = int (input ("Masukan bilangan pertama: "))
b = int (input ("Masukan bilangan kedua: "))
c = int (input ("masukan bilangan ketiga: "))
jumlah = a + b + C
print ("jumlah =", jumlah)

Masukan bilangan pertama: 5
Masukan bilangan kedua: 5
masukan bilangan ketiga: 5
jumlah = 15.0

# **Penugasan** **1**

# Menghitung volume block

In [6]:
p = float(input("Masukkan panjang balok: "))
l = float(input("Masukkan lebar balok: "))
t = float(input("Masukkan tinggi balok: "))
volume = p * l * t
print("Volume balok =", volume)

Masukkan panjang balok: 5
Masukkan lebar balok: 5
Masukkan tinggi balok: 5
Volume balok = 125.0

#Konversi Waktu (Detik ke Jam:Menit:Detik)

In [7]:
detik = int(input("Masukkan jumlah detik: "))

jam = detik // 3600
sisa_detik = detik % 3600
menit = sisa_detik // 60
detik_akhir = sisa_detik % 60

print(f"Hasil konversi: {jam} jam, {menit} menit, {detik_akhir} detik")

Masukkan jumlah detik: 555555
Hasil konversi: 154 jam, 19 menit, 15 detik

#rata rata nilai tiga mata kuliah

In [8]:
nilai1 = float(input("Masukkan nilai mata kuliah pertama: "))
nilai2 = float(input("Masukkan nilai mata kuliah kedua: "))
nilai3 = float(input("Masukkan nilai mata kuliah ketiga: "))

rata_rata = (nilai1 + nilai2 + nilai3) / 3

if rata_rata >= 60:
  status = "Lulus"
else:
  status = "Tidak Lulus"

print(f"Rata-rata nilai: {rata_rata:.2f}")
print(f"Status: {status}")

Masukkan nilai mata kuliah pertama: 70
Masukkan nilai mata kuliah kedua: 80
Masukkan nilai mata kuliah ketiga: 90
Rata-rata nilai: 80.00
Status: Lulus

#Menghitung diskon belanja

In [12]:
total_belanja = float(input("Masukkan total belanja: "))
diskon = 0

if total_belanja >= 500000:
  diskon = total_belanja * 0.20
elif total_belanja >= 250000:
  diskon = total_belanja * 0.10
else:
  diskon = 0

harga_setelah_diskon = total_belanja - diskon

print(f"Total belanja: Rp{total_belanja:.2f}")
print(f"Diskon: Rp{diskon:.2f}")
print(f"Harga setelah diskon: Rp{harga_setelah_diskon:.2f}")

Masukkan total belanja: 800000
Total belanja: Rp800000.00
Diskon: Rp160000.00
Harga setelah diskon: Rp640000.00