<a href="https://colab.research.google.com/github/kavin43325011-svg/Tugas-Pak-Prayit-/blob/main/Pratikum_07.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **JOBSHEAT 07**

**PRATIKUM 1**

In [ ]:
koordinat = (7.05, 110.44)
print("Lintang:", koordinat[0])
print("Bujur:", koordinat[1])

**PRATIKUM 2**

In [2]:
mahasiswa = {
     "NIM": "20251001",
     "Nama": "Andi",
     "Prodi": "TRK"
 }
print("NIM :", mahasiswa["NIM"])
print("Nama:", mahasiswa["Nama"])
print("Prodi:", mahasiswa["Prodi"])

NIM : 20251001
Nama: Andi
Prodi: TRK

**PRATIKUM 3**

In [4]:
mahasiswa = {
    "NIM": "20251001",
    "Nama": "Andi",
    "Prodi": "TRK"
 }

mahasiswa["Umur"] = 20              # menambah data
mahasiswa["Prodi"] = "Teknik Komputer"  # memperbarui data
del mahasiswa["Umur"]               # menghapus data

print(mahasiswa)

{'NIM': '20251001', 'Nama': 'Andi', 'Prodi': 'Teknik Komputer'}

**PRATIKUM 4**

In [6]:
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}

print("Union:", A | B)
print("Intersection:", A & B)
print("Difference:", A - B)

Union: {1, 2, 3, 4, 5, 6}
Intersection: {3, 4}
Difference: {1, 2}

**PRATIKUM 5**

In [7]:
mhs1 = {"Algoritma", "Matematika", "Bahasa Inggris"}
mhs2 = {"Algoritma", "Basis Data", "Matematika"}

print("Mata kuliah Mhs1:", mhs1)
print("Mata kuliah Mhs2:", mhs2)
print("Mata kuliah yang sama:", mhs1 & mhs2)

Mata kuliah Mhs1: {'Bahasa Inggris', 'Algoritma', 'Matematika'}
Mata kuliah Mhs2: {'Algoritma', 'Basis Data', 'Matematika'}
Mata kuliah yang sama: {'Algoritma', 'Matematika'}

**PRATIKUM 6**

In [10]:
nilai_mahasiswa = {
    "Andi": 80,
    "Budi": 75,
    "Cici": 90
}
for nama, nilai in nilai_mahasiswa.items():
     print(f"{nama}: {nilai}")

rata = sum(nilai_mahasiswa.values()) / len(nilai_mahasiswa)
print(f"Rata-rata nilai: {rata:.2f}")

Andi: 80
Budi: 75
Cici: 90
Rata-rata nilai: 81.67

# **PENUGASAN**

**PENUGASAN 1**

In [11]:
mahasiswa = ("Bahlul Ladalia", 20, "Teknik Informatika")

print(mahasiswa[0])
print(mahasiswa[1])
print(mahasiswa[2])

Bahlul Ladalia
20
Teknik Informatika

**PENUGASAN 2**

In [12]:
data = (1, 2, 3)
data[0] = 10
# Python akan memberikan error karena tuple bersifat immutable, artinya isi atau elemen di dalam tuple tidak dapat diubah setelah dibuat.

TypeError: 'tuple' object does not support item assignment

**PENUGASAN 3**

In [13]:
buku = {
    "Judul": "Algoritma",
    "Penulis": "Munir",
    "Tahun": 2021
}

print(buku["Judul"])
print(buku["Penulis"])
print(buku["Tahun"])

Algoritma
Munir
2021

**PENUGASAN 4**

In [14]:
dosen = {
    "NIP": "12345",
    "Nama": "Budi",
    "Prodi": "TRK"
}

dosen["Umur"] = 40
dosen["Prodi"] = "Teknik Komputer"
del dosen["Umur"]

print(dosen)

{'NIP': '12345', 'Nama': 'Budi', 'Prodi': 'Teknik Komputer'}

**PENUGASAN 5**

In [15]:
A = {"Matematika", "Algoritma", "Bahasa Inggris"}
B = {"Algoritma", "Basis Data", "Matematika"}

print("Union:", A | B)
print("Intersection:", A & B)
print("Difference:", A - B)

Union: {'Algoritma', 'Matematika', 'Bahasa Inggris', 'Basis Data'}
Intersection: {'Algoritma', 'Matematika'}
Difference: {'Bahasa Inggris'}

**PENUGASAN 6**

In [16]:
nilai = {
    "Andi": 85,
    "Budi": 90,
    "Cici": 78
}

for nama, skor in nilai.items():
    print(nama, ":", skor)

rata = sum(nilai.values()) / len(nilai)
print("Rata-rata nilai =", rata)

Andi : 85
Budi : 90
Cici : 78
Rata-rata nilai = 84.33333333333333

**PENUGASAN 7**

In [17]:
klubA = {"Andi", "Budi", "Cici"}
klubB = {"Cici", "Deni", "Eka"}

print("Seluruh anggota (union):", klubA | klubB)
print("Anggota di kedua klub (intersection):", klubA & klubB)
print("Anggota hanya di Klub A (difference):", klubA - klubB)

Seluruh anggota (union): {'Eka', 'Andi', 'Deni', 'Cici', 'Budi'}
Anggota di kedua klub (intersection): {'Cici'}
Anggota hanya di Klub A (difference): {'Andi', 'Budi'}