<a href="https://colab.research.google.com/github/kavin43325011-svg/Tugas-Pak-Prayit-/blob/main/Pratikum_06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **JOBSHEAT 06**

**PERATIKUM 1**

In [1]:
mahasiswa = ["Andi", "Budi", "Cici"]
print(mahasiswa[0])     # Andi
print(mahasiswa[1])     # Budi
print(mahasiswa[-1])    # Cici 5:

Andi
Budi
Cici

**PERATIKUM 2**

In [6]:
nilai = [85, 90, 78]
nilai[1] = 95
nilai.append(100)
nilai.remove(78)
print(nilai)

[85, 95, 100]

**PERATIKUM 3**

In [9]:
nilai = [85, 90, 78, 92, 88]
print(nilai[0:3])
print(nilai[2:])
print(nilai[:3])

[85, 90, 78]
[78, 92, 88]
[85, 90, 78]

**PERATIKUM 4**

In [20]:
matriks = [
     [1, 2, 3],
     [4, 5, 6],
     [7, 8, 9]
 ]
print(matriks[0][0])  # 1
print(matriks[1][2])  # 6
print(matriks[2])     # [7, 8, 9]

1
6
[7, 8, 9]

**PERATIKUM 5**

In [23]:
A = [[1, 2, 3], [4, 5, 6]]
B = [[7, 8, 9], [10, 11, 12]]
C = []

for i in range(len(A)):
     baris = []
     for j in range(len(A[0])):
         baris.append(A[i][j] + B[i][j])
     C.append(baris)

print(C)

[[8, 10, 12], [14, 16, 18]]

**PERATIKUM 6**

In [26]:
nilai = [
     [80, 90, 85],
     [70, 75, 80],
     [88, 92, 84]
 ]

for i, baris in enumerate(nilai, start=1):
     rata = sum(baris) / len(baris)
     print(f"Rata-rata mahasiswa {i}: {rata:.2f}")

Rata-rata mahasiswa 1: 85.00
Rata-rata mahasiswa 2: 75.00
Rata-rata mahasiswa 3: 88.00

# **PENUGASAN**

**PENUGASAN 1**

In [29]:
mahasiswa = ["Angga wijayanto", "Jokowwi Dodol", "Bahlul Ladadida", "Dedi Mulyanto", "Jupe pares"]
print("Nama pertama:", mahasiswa[0])
print("Nama terakhir:", mahasiswa[-1])
print("Nama pada indeks ke-2:", mahasiswa[2])

Nama pertama: Angga wijayanto
Nama terakhir: Jupe pares
Nama pada indeks ke-2: Bahlul Ladadida



```
# This is formatted as code
```

**PENUGASAN 2**

In [30]:
nilai = [70, 75, 80]
nilai[1] = 85
nilai.append(90)
nilai.remove(70)
print("Hasil akhir:", nilai)

Hasil akhir: [85, 80, 90]

**PENUGASAN 3**

In [31]:
angka = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print("3 elemen pertama:", angka[:3])
print("4 elemen terakhir:", angka[-4:])
print("Elemen dengan indeks genap:", angka[::2])

3 elemen pertama: [1, 2, 3]
4 elemen terakhir: [7, 8, 9, 10]
Elemen dengan indeks genap: [1, 3, 5, 7, 9]

**PENUGASAN 4**

In [32]:
matriks = [
    [1, 2, 3],
    [4, 5, 6]
]

print(matriks[0][1])
print(matriks[1][2])
print(matriks[0])

2
6
[1, 2, 3]

**PENUGASAN 5**

In [33]:
matriks1 = [
    [1, 2],
    [3, 4]
]

matriks2 = [
    [5, 6],
    [7, 8]
]

hasil = [
    [matriks1[0][0] + matriks2[0][0], matriks1[0][1] + matriks2[0][1]],
    [matriks1[1][0] + matriks2[1][0], matriks1[1][1] + matriks2[1][1]]
]

print(hasil)

[[6, 8], [10, 12]]

**PENUGASAN 6**

In [34]:
nilai = [
    [75, 80, 85],
    [60, 70, 65],
    [90, 95, 92]
]

for i in range(len(nilai)):
    rata = sum(nilai[i]) / len(nilai[i])
    print("Rata-rata mahasiswa", i+1, "=", rata)

Rata-rata mahasiswa 1 = 80.0
Rata-rata mahasiswa 2 = 65.0
Rata-rata mahasiswa 3 = 92.33333333333333

**PENUGASAN 7**

In [35]:
stok = [
    ["Buku", 20],
    ["Pulpen", 35],
    ["Penghapus", 15]
]

for barang in stok:
    print(barang[0], ":", barang[1])

terbanyak = stok[0]
for barang in stok:
    if barang[1] > terbanyak[1]:
        terbanyak = barang

print("Barang dengan stok terbanyak:", terbanyak[0], "=", terbanyak[1])

Buku : 20
Pulpen : 35
Penghapus : 15
Barang dengan stok terbanyak: Pulpen = 35