<a href="https://colab.research.google.com/github/kavin43325011-svg/Tugas-Pak-Prayit-/blob/main/pratikum%202.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Praktikum 02**

### Praktikum 01 - Pengenalan Variabel dan Tipe Data

In [1]:
# Integer
umur = 19
print ("Umur:", umur, "->", type (umur))

# Float
tinggi = 184.05
print ("Tinggi:", tinggi, "->", type (tinggi))

# String
nama = "indra"
print ("Nama:", nama, "->", type(nama))

# Boolean
is_mahasiswa = False
print("Status Mahasiswa:", is_mahasiswa, "->", type(is_mahasiswa))

# List
nilai = [80, 85, 100]
print ("Nilai:", nilai, "->", type(nilai))

# Tuple
koordinat = (2246, 4456)
print("koordinat:", koordinat, "->", type(koordinat))

# Dictionary
mahasiswa = {"nama": "indra", "umur": 19, "prodi": "TRK"}
print("Data Mahasiswa:", mahasiswa, "->", type(mahasiswa))

# Set
hobi =  {"touring", "olahraga", "musik"}
print("Hobi:", hobi, "->", type(hobi))

Umur: 19 -> <class 'int'>
Tinggi: 184.05 -> <class 'float'>
Nama: indra -> <class 'str'>
Status Mahasiswa: False -> <class 'bool'>
Nilai: [80, 85, 100] -> <class 'list'>
koordinat: (2246, 4456) -> <class 'tuple'>
Data Mahasiswa: {'nama': 'Andi', 'umur': 20, 'prodi': 'TRK'} -> <class 'dict'>
Hobi: {'membaca', 'musik', 'olahraga'} -> <class 'set'>

### Praktikum 02 - Input dan Output Dasar

In [2]:
# Input string
nama = input ("Masukkan nama Anda: ")

# Input integer
umur = int(input("Masukkan umur Anda: "))

# Input float
tinggi  = float(input("Masukkan tinggi badan (cm): "))

# Output standar
print("Halo,", nama,"umur Anda:", umur, "tahun, tinggi:", tinggi, "cm")

# Output dengan Format ()
print("Halo {0}, umur Anda {1} tahun, tinggi {2} cm" .format(nama, umur, tinggi))

# Output dengan f-string
print(f"Halo {nama}, umur Anda {umur} tahun, tinggi {tinggi} cm")

Masukkan nama Anda: kavindra vpm
Masukkan umur Anda: 19
Masukkan tinggi badan (cm): 184
Halo, kavindra vpm umur Anda: 19 tahun, tinggi: 184.0 cm
Halo kavindra vpm, umur Anda 19 tahun, tinggi 184.0 cm
Halo kavindra vpm, umur Anda 19 tahun, tinggi 184.0 cm

### Praktikum 03 - Operator Aritmatika

In [3]:
a = 90
b = 8

print("a + b =", a + b)
print("a - b =", a - b)
print("a * b =", a * b)
print("a / b =", a / b)
print( "a // b =", a // b)
print("a % b =", a % b)
print("a ** b =", a ** b)
print("praktek ini menunjukan pyhton dapat menyelesaikan persoalan matematika")

a + b = 98
a - b = 82
a * b = 720
a / b = 11.25
a // b = 11
a % b = 2
a ** b = 4304672100000000
praktek ini menunjukan pyhton dapat menyelesaikan persoalan matematika

### Praktikum 04 - Operator Relasional

In [4]:
x = 101
y = 15

print ("x == y :", x == y)
print ("x != y :", x != y)
print ("x < y :", x < y)
print ("x <= y :", x <= y)
print ("x >= y :", x >= y)
print("Dalam kehidupan nyata, operator relasional bisa dipakai untuk mengecek apakah nilai ujian > 60, atau apakah kehadiran mahasiswa memenuhi batas minimal")

x == y : False
x != y : True
x < y : False
x <= y : False
x >= y : True
Dalam kehidupan nyata, operator relasional bisa dipakai untuk mengecek apakah nilai ujian > 60, atau apakah kehadiran mahasiswa memenuhi batas minimal

### Praktikum 05 - Operator Logika dengan Studi Kasus Nyata

In [5]:
# Operator logika dasar
a = True
b = False

print("a and b  =", a and b)
print("a or b   =", a or b)
print("not a    =", not a)

# Studi kasus nyata: kelulusan
nilai = int (input("Masukkan nilai ujian: "))
hadir = int(input("Masukkan jumlah kehadiran: "))

lulus_nilai = nilai >= 60
lulus_hadir = hadir >= 12 #dari 16 pertemuan

if lulus_nilai and lulus_hadir:
    print("Status: LULUS")
else:
    print("Status: TIDAK LULUS")

a and b  = False
a or b   = True
not a    = False
Masukkan nilai ujian: 90
Masukkan jumlah kehadiran: 13
Status: LULUS

### Praktikum 06 - Program Kasir Sederhana

In [8]:
barang  = input("Masukkan nama barang: ")
harga   = float(input("Masukkan harga barang: "))
jumlah  = int(input("Masukkan jumlah barang: "))

total   = harga * jumlah

# Aturan diskon
if    total >= 1000000:
      diskon = 0.4
elif  total >= 500000:
      diskon = 0.3
else:
      diskon = 0

potongan  = total * diskon
bayar     = total - potongan

print("\n===== Struk Belanja =====")
print(f"Barang : {barang}")
print(f"Jumlah : {jumlah}")
print(f"Total  : Rp {total}")
print(f"Diskon : {diskon * 100}%")
print(f"Bayar  : Rp {bayar}")

Masukkan nama barang: handphone
Masukkan harga barang: 1500000
Masukkan jumlah barang: 1

===== Struk Belanja =====
Barang : handphone
Jumlah : 1
Total  : Rp 1500000.0
Diskon : 40.0%
Bayar  : Rp 900000.0

# **Penugasan**

### Identitas Mahasiswa

In [9]:
# 1. Mengambil Input
nama = input("Masukkan nama Mahasiswa: ")
umur = int(input("Masukkan Umur Mahasiswa: "))
tinggi = float(input("Masukkan Tinggi Mahasiswa (cm): "))
status_in = input("Apakah Mahasiswa aktif? (y/n): ")

# 2. Konversi boolean
status = "Aktif" if status_in.lower() == "y" else "Tidak Aktif"

# 3. Menampilkan output
print("\n================================")
print("     IDENTITAS MAHASISWA")
print("================================")
print(f"Nama Lengkap : {nama}")
print(f"Umur         : {umur} tahun")
print(f"Tinggi Badan : {tinggi} cm")
print(f"Status       : {status}")
print("================================")

Masukkan nama Mahasiswa: mojinkino
Masukkan Umur Mahasiswa: 19
Masukkan Tinggi Mahasiswa (cm): 184
Apakah Mahasiswa aktif? (y/n): n

================================
     IDENTITAS MAHASISWA
================================
Nama Lengkap : mojinkino
Umur         : 19 tahun
Tinggi Badan : 184.0 cm
Status       : Tidak Aktif
================================

### Operasi Aritmatika

In [10]:
# 1. Mengambil Input
a = (int(input("Masukkan nilai a: ")))
b = (int(input("Masukkan nilai b: ")))

# 2. Operasi dan output
print(a, "+", b, "=", a + b)
print(a, "-", b, "=", a - b)
print(a, "*", b, "=", a * b)
print(a, "/", b, "=", a / b)
print(a, "//", b, "=", a // b)
print(a, "%", b, "=", a % b)
print(a, "**", b, "=", a ** b)

Masukkan nilai a: 40
Masukkan nilai b: 7
40 + 7 = 47
40 - 7 = 33
40 * 7 = 280
40 / 7 = 5.714285714285714
40 // 7 = 5
40 % 7 = 5
40 ** 7 = 163840000000

### Konversi Nilai

In [11]:
  # Mengambil Input (float)
nilai_float = float(input("Masukkan sebuah angka desimal (contoh: 75.836): "))

  # 1. Konversi float ke integer (menghilangkan desimal)
nilai_integer = int(nilai_float)

  # 2. Konversi float ke string (menjadi teks)
nilai_string = str(nilai_float)

  # 3. Pembulatan 2 digit di belakang koma
nilai_bulat = round(nilai_float, 2)

  # Menampilkan semua hasil dengan format yang rapi
print("\n---------- HASIL KONVERSI & PEMBULATAN ----------")
print(f"Nilai Asli (float)      : {nilai_float}")
print(f"Dikonversi ke Integer   : {nilai_integer}")
print(f"Dikonversi ke String    : '{nilai_string}'")
print(f"Dibulatkan (2 desimal)  : {nilai_bulat}")
print("-----------------------------------------------")

Masukkan sebuah angka desimal (contoh: 75.836): 54.789

---------- HASIL KONVERSI & PEMBULATAN ----------
Nilai Asli (float)      : 54.789
Dikonversi ke Integer   : 54
Dikonversi ke String    : '54.789'
Dibulatkan (2 desimal)  : 54.79
-----------------------------------------------

### Operator Relasional

In [12]:
a = float(input("Masukkan nilai a: "))
b = float(input("Masukkan nilai b: "))

# 2. Menampilkan hasil perbandingan menggunakan semua operator relasional dengan format f-string
print("\n---------- HASIL PERBANDINGAN ----------")
print(f"{a} == {b} : {a == b}")
print(f"{a} != {b} : {a != b}")
print(f"{a} > {b}  : {a > b}")
print(f"{a} < {b}  : {a < b}")
print(f"{a} >= {b} : {a >= b}")
print(f"{a} <= {b} : {a <= b}")
print("--------------------------------------")

Masukkan nilai a: 12
Masukkan nilai b: 3

---------- HASIL PERBANDINGAN ----------
12.0 == 3.0 : False
12.0 != 3.0 : True
12.0 > 3.0  : True
12.0 < 3.0  : False
12.0 >= 3.0 : True
12.0 <= 3.0 : False
--------------------------------------