<a href="https://colab.research.google.com/github/kavin43325011-svg/Tugas-Pak-Prayit-/blob/main/pratikum_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **PRAKTIKUM 4**

**PRAKTEK 1**

In [ ]:
for i in range (1, 6):
  print (i)

1
2
3
4
5

**PRAKTEK 2**

In [ ]:
n = int(input("masukan angka: "))
while n > 0:
  print (n)
  n -= 1

masukan angka: 5
5
4
3
2
1

**PRAKTEK 3**

In [ ]:
for i in range(1, 5) :
    for i in range(i) :
        print("*",end="")
    print()

*
**
***
****

**PRAKTEK 4**

In [ ]:
for i in range(1, 11):
    if i == 5:
      print("Angka 5 ditemukan")
      break

Angka 5 ditemukan

**PRAKTEK 5**

In [ ]:
data = {"Nama": "Andi", "Umur": 20, "Prodi": "TRK"}

for k, v in data.items():
    print(k, ":", v)

Nama : Andi
Umur : 20
Prodi : TRK

**PRAKTEK 6**

In [ ]:
daftar = ["Andi", "Budi", "Cici"]

for i, nama in enumerate(daftar, start=1):
  print(i, nama)

1 Andi
2 Budi
3 Cici

**PRAKTEK 7**

In [ ]:
total = 0

while True:
  barang = input("Masukkan nama barang (ketik 'selesai' untuk  berhenti): ")
  if barang.lower() == "selesai":
    break
  harga = float(input(f"Masukkan harga {barang}: "))
  jumlah = int(input(f"Masukkan jumlah {barang}: "))
  subtotal = harga * jumlah
  total += subtotal

print("\n===== Struk Belanja =====")
print(f"Total Belanja : Rp {total}")

Masukkan nama barang (ketik 'selesai' untuk  berhenti): buku
Masukkan harga buku: 50000
Masukkan jumlah buku: 2
Masukkan nama barang (ketik 'selesai' untuk  berhenti): pulpen
Masukkan harga pulpen: 5000
Masukkan jumlah pulpen: 3
Masukkan nama barang (ketik 'selesai' untuk  berhenti): selesai

===== Struk Belanja =====
Total Belanja : Rp 115000.0

# **PENUGASAN**

**TUGAS 1**

In [ ]:
for i in range(3, 31, 3):
  print(i)

3
6
9
12
15
18
21
24
27
30

**TUGAS 2**

In [ ]:
try:
    angka = int(input("Masukkan sebuah bilangan bulat: "))
    angka_bulat = angka
    faktorial = 1
    if angka < 0:
        print("Faktorial tidak terdefinisi untuk bilangan negatif.")
    elif angka == 0:
        print(f"Faktorial dari 0 adalah 1")
    else:
        while angka > 0:
            faktorial = faktorial * angka
            angka = angka - 1
        print(f"Faktorial dari {angka_bulat} adalah {faktorial}")

except Error:
    print("Input tidak valid. Harap masukkan sebuah angka.")

Masukkan sebuah bilangan bulat: 7
Faktorial dari 7 adalah 5040

**TUGAS 3**

In [ ]:
tinggi = 5

for i in range(5):
    for j in range(5 - i):
        print("*", end="")

    print()

*****
****
***
**
*

**TUGAS 4**

In [ ]:
angka = int(input("Masukkan angka untuk mengecek bilangan prima: "))

if angka > 1:
  for i in range(2, angka):
    if angka % i == 0:
      print("Bukan bilangan prima")
      break
  else:
    print(angka, "Merupakan bilangan prima")

else:
  print("Bukan bilangan prima")

Masukkan angka untuk mengecek bilangan prima: 2
2 Merupakan bilangan prima

**TUGAS 5**

In [ ]:
for i in range(1, 21):
  if i % 2 == 1:
    continue
  print(i)

2
4
6
8
10
12
14
16
18
20

**TUGAS 6**

In [ ]:
data = {"Nama": "Budi", "Umur": 21, "Prodi": "Teknik Komputer"}

for k, v in data.items():
  print(k, ":", v)

Nama : Budi
Umur : 21
Prodi : Teknik Komputer

**TUGAS 7**

In [ ]:
daftar = ["Buku", "Pulpen", "Tas"]

for i, nama in enumerate(daftar, start=1):
  print(i, nama)

1 Buku
2 Pulpen
3 Tas

**TUGAS 8**

In [ ]:
total = 0

while True:
  barang = input("Masukkan nama barang (Ketik 'selesai' untuk berhenti): ")
  if barang.lower() == "selesai":
    break
  harga = float(input(f"Masukkan harga {barang}: "))
  jumlah = int(input(f"Masukkan jumlah {barang}: "))
  subtotal = harga * jumlah
  total += subtotal
  if total >= 200000:
    diskon = 0.1
  else:
    diskon = 0
  a_diskon = total - (total * diskon)


print("\n===== STRUK =====")
print(f"\nSebelum diskon: {total}")
print(f"Diskon: {diskon* 100} %")
print(f"Bayar: {a_diskon}")
print("\n=================")

Masukkan nama barang (Ketik 'selesai' untuk berhenti): es teh
Masukkan harga es teh: 3000
Masukkan jumlah es teh: 100
Masukkan nama barang (Ketik 'selesai' untuk berhenti): selesai

===== STRUK =====

Sebelum diskon: 300000.0
Diskon: 10.0 %
Bayar: 270000.0

=================